.map-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 20px;
}

.map-frame {
  border: 0.01rem solid #002a32; /* Theme primary color */
  border-radius: 0.2rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.view-larger-map-button {
  display: inline-block;
  margin-top: 10px;
  padding: 8px 16px;
  color: white;
  background-color: #00c2d1; /* Theme accent color */
  border: none;
  border-radius: 4px;
  text-decoration: none;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.view-larger-map-button:hover,
.view-larger-map-button:active {
  color: white;
  background-color: #01b6c3;
  transform: scale(1.05);
}

.view-larger-map-button:active {
  transform: scale(0.95);
}
